{% extends "base.html.twig" %}
{% block body %}
	
		{% for art in article %}
			<div class="container">
				<h2 class=" text-center">Detail de l'article</h2>

				<h3 class="font-weight-bold pt-5 text-center">{{art.getNameOfArticle(art.idProduct)}}</h3>

				<img src="{{base_url("../images/ingredients/"~ art.getImageName(art.idImage)~"."~ art.getImageExtend(art.idImage))}}" class="rounded mx-auto d-block" alt="Responsive image of this ingredient">
				<h3 class="font-weight-bold pt-5 ">Recette contenant l'article</h3>
				<div class="card w-100">
					<div class="card-body">
						{% if compose != NULL %}
							
						
					{% for row in compose %}
						<p class="card-text"> 
				{{row}}
						</p>
					{% endfor %}
					</div>
				{% endif %}
				</div>
				{% if user.login != NULL %}
				{# art.idArticle ~"/"~ art.getNameOfArticle(art.idProduct) ~"/"~ art.unitQuantity ~"/"~ art.getPrice(art.idArticle)    )#}
				<div class="d-flex justify-content-center p-2">
					<button id='but' type="button" onclick="add()" data-name="{{ art.getNameOfArticle(art.idProduct) }}" data-quantity="{{ art.unitQuantity }}"  data-price="{{(art.unitQuantity) * (art.getPrice(art.idArticle))}}" class="btn btn-info">Ajouter au panier</button>
				</div>
				 {% endif %}
					
			</div>
			
		{% endfor %}
	
	
{% endblock %}
