{% extends "base.html.twig" %}
{% block body %}

	{% for rec in recipes %}
		<div class="container">
			<h2 class=" text-center">Detail de la recette</h2>
			<a class="btntag" href='{{base_url('/recipes/') ~ '/' ~ rec.idCat}}'>{{rec.getCat(rec.idCat)}}</a>
			<h3 class="font-weight-bold pt-5 text-center">{{rec.name}}</h3>
			<div>

				<img src="{{base_url("../images/recettes/"~ rec.getImageName(rec.idImage)~"."~ rec.getImageExtend(rec.idImage))}}" class="rounded mx-auto d-block" alt="Responsive image of this recipe">
			</div>
			<h3 class="font-weight-bold pt-5 ">Composition</h3>
			<div class="card w-100">
				<div
					class="card-body">
					{# {<pre>
																																												{{ dump(compose) }}
																																											</pre>} #}
					{% for composed in compose %}

						<p class="card-text">
							-
							{{composed.quantity}}
							{{composed.getUnit(composed.idUnit)}}
							de
							{{composed.getProdName(composed.idUnit)}}</p>
					{% endfor %}
				</div>
			</div>
			<h3 class="font-weight-bold pt-5 ">Preparation</h3>
			<div class="card w-100">
				<div class="card-body">
					{% for preparation in prep %}
						<p class="card-text">{{preparation.content}}</p>
					{% endfor %}
				</div>
			</div>
			
			{% if user.login != NULL %}
				<div class="card w-100">
					<div class="card-body">
						<h5 class="card-title">Votre évaluation :
							{{ratting[0].rating}}
						</h5>
						<p class="card-text">
							<div class="container">
								<div class="row">
									{{ form_open (  base_url('/editdetailsRecipe') ~"/"~ rec.idRecipe)   }}
									<div class="rating">

										<input type="radio" id="star5" name="rating" value="5"/><label for="star5" title="Meh">5 stars</label>
										<input type="radio" id="star4" name="rating" value="4"/><label for="star4" title="Kinda bad">4 stars</label>
										<input type="radio" id="star3" name="rating" value="3"/><label for="star3" title="Kinda bad">3 stars</label>
										<input type="radio" id="star2" name="rating" value="2"/><label for="star2" title="Sucks big tim">2 stars</label>
										<input type="radio" id="star1" name="rating" value="1"/><label for="star1" title="Sucks big time">1 star</label>
										<p>
											(L'attribution ce fait avec un commentaire)</p>
									</div>
								</div>
							</div>
						</p>


						<label>
							Votre Titre</label>
						<input type="text" class="w-75" name="titleCom" value="">
						<br><label>
							Votre commentaire</label>
						<input type="text" class="w-75" name="textCom" value="">
					</div>
					<div class="col-12 col-sm-4">
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</div>

					{{ validation.errors ? validation.errors.name}}
					{{ form_close }}


				</div>


				{% for com in comment %}
					<div class="card w-100">
						<div class="card-body">
							<div class="card w-100">
								<div class="card-body">
									<h5 class="card-title">
										{{com.getName(com.idUsers)}}
									</h5>
									{{ com.getComName(com.idUsers )}}
									<h5 class="card-title">
										Titre du commentaire :
										{{com.commentTitle}}</h5>
									<p class="card-text">{{com.commentContent}}</p>

								</div>
							</div>

						</div>
					</div>
				{% endfor %}
			{% endif %}	{% endfor %}
		
	{% endblock %}
