<h1 class="font-weight-bold pt-5 ">Nesti Corpored
</h1>

	<nav class="navbar navbar-expand-lg navbar-light ">

		<div
			class="container">

			{# <a type="button" class="btn btn-info" href="{{base_url('/login')}}">Accueil</a> #}

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="btn btn-info" href="{{base_url('/intro')}}">Accueil</a>

					</li>
					<li class="nav-item active">
						<a class="btn btn-info" href="{{base_url('/recipes')}}">Recette</a>

					</li>
					<li class="nav-item">
						<a class="btn btn-info" href="{{base_url('/suggest')}}">Suggestion</a>

					</li>
					<li class="nav-item dropdown">
						<a class="btn btn-info" href="{{base_url('/article')}}">Marché</a>
						
					</li>{% if user.login != NULL %}
					<li class="nav-item">
						<a class="btn btn-info" href="{{base_url('/profile')}}">Profil</a>

					</li>	{% endif %}
				</ul>
		
				{% if user.login == NULL %}
				<ul class="navbar-nav mr-auto">
					<li class="nav-item ">
						<a class="nav-link" href="{{base_url('/login')}}">Connexion</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="{{base_url('/register')}}">Enregistrement</a>
					</li>
				</ul>
			{% endif %}
		
			<ul class="navbar-nav my-2 my-lg-0">
				<li class="nav-item">
					<a class="btn btn-info" href="{{base_url('/buy')}}">Panier</a>
				</li>
			</ul>	
			{% if user.login != NULL %}
				<ul class="navbar-nav my-2 my-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{{base_url('/logout')}}">Deconnexion</a>
					</li>
				</ul>

				<ul class="navbar-nav mr-14">
					<li class="nav-item ">
						Utilisateur :
						<br>
						{{user.lastName}}
						{{user.firstName}}
						{{user.name}}
					</li>
				</ul>
			{% endif %}

		</div>
	</div>


</nav>
