{% extends "base.html.twig" %}
{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 mt-5 pt-3 pb-3 bg-white from-wrapper">
				<div class="container">
					<h2>Enregistrement</h2>
					<hr>


					{{ form_open ( base_url('/register') )   }}
					<div class="form-group">
						<label for="login">Pseudo
							<i class="badge">(commencer par une majuscule)</i>
						</label>
					
						{% if validation.hasError('login') %}
							<div>{{validation.getError("login")}}
							</div>
						{% endif %}
						<input type="text" class="form-control" name="login" id="login" value="" require>
					</div>
					<div class="form-group">
						<label for="email">Adresse Email
							<b class="badge">minimun 6 caratères
							</b>
						</label>
						{% if validation.hasError('email') %}
							<div>{{validation.getError("email")}}
							</div>
						{% endif %}
						<input type="text" class="form-control" name="email" id="email" value="" required>
					</div>
					<div class="form-group">
						<label for="pwd">Mot de passe<b class="badge">minimun 8 caratères
							</b>
						</label>
						{% if validation.hasError('password') %}
							<div>{{validation.getError("password")}}
							</div>
						{% endif %}
						<input class="form-control" type="password" class="w-75" name="password" id="pwd" required>
					</div>

					<hr>
					<div class="form-group">
						<label for="firstname">Prénom</label>
						{% if validation.hasError('firstname') %}
							<div>{{validation.getError("firstname")}}
							</div>
						{% endif %}
						<input type="text" class="form-control" name="firstname" id="firstname" value="">
					</div>
					<div class="form-group">
						<label for="lastname">Nom de famille</label>
						{% if validation.hasError('lastname') %}
							<div>{{validation.getError("lastname")}}
							</div>
						{% endif %}
						<input type="text" class="form-control" name="lastname" id="lastname" value="">
					</div>
					<div class="form-group">
						<label for="adresse1">Adresse</label>
						{% if validation.hasError('adresse1') %}
							<div>{{validation.getError("adresse1")}}
							</div>
						{% endif %}
						<input type="text" class="form-control" name="adresse1" id="adresse1" value="">
					</div>
					<div class="form-group">
						<label for="adresse2">Complement d'adresse</label>
						{% if validation.hasError('adresse2') %}
							<div>{{validation.getError("adresse2")}}
							</div>
						{% endif %}
						<input type="text" class="form-control" name="adresse2" id="adresse2" value="">
					</div>
					<div class="form-group">
						<label for="Zipcode">Code postal</label>

						{% if validation.hasError('zipcode') %}
							<div>{{validation.getError("zipcode")}}
							</div>
						{% endif %}
						<input type="text" class="form-control" name="zipcode" id="Zipcode" value="">
					</div>
					<div class="form-group">
						<label for="city">Ville</label>
						{% if validation.hasError('city') %}
							<div>{{validation.getError("city")}}
							</div>
						{% endif %}
						<input type="text" class="form-control" name="city" id="city" value="">
					</div>


					<div class="row">
						<div class="col-12 col-sm-4">
							<button type="submit" name="profileRegister" class="btn btn-info">Envoyer</button>
						</div>
						{{ validation.errors ? validation.errors.name}}
						{{ form_close }}
					</div>
					<br><br>Complexité du mot de passe :
					<meter value="0" low="2"  high="4" optimum="5" min="0" max="5" id="pwd_meter">0%</meter><br>

					<ul><br>
						<li>
							<span class="advice mr-5" id=>
								<em>
									<b>Conseils pour le mot de passe (Tous les lignes ci-dessous
																																																																						                                    doivent être vertes).</b>
								</em>
							</span>
						</li>
						<li>
							<span class="advice mr-5" id="pwd_warn1">Le mot de passe doit faire plus de 8 caractères.</span>
						</li>
						<li>
							<span class="advice" id="pwd_warn2">Le mot de passe doit contenir au moins une lettre
																																																								                            minuscule.</span>
						</li>
						<li>
							<span class="advice" id="pwd_warn3">Le mot de passe doit contenir au moins une lettre
																																																								                            majuscule.</span>
						</li>
						<li>
							<span class="advice" id="pwd_warn4">Le mot de passe doit contenir au moins un chiffre.</span>
						</li>
						<li>
							<span class="advice" id="pwd_warn5">Le mot de passe doit contenir au moins un caractère
																																																								                            non-alphanumérique.</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
