{% extends 'layout/base.html.twig' %}

{% block body %}

	<div class="container mt-5 text-center">
		<h1>Créer un tag</h1>
	
		{{ form_open (base_url('/tags/create'))}}
		<input name='name' value='{{tag.name}}' type="text">
	
		<input name='honeypot' value='{{tag.name}}' type="hidden">
		<button value="ok" type="submit">ok</button> <br>

			{{ validation.errors ? validation.errors.name}}
		{{ form_close }}
	</div>

{% endblock %}
